@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	color: #807D7E;
}

[class*="_container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.header__container {
	padding: 25px 15px;
	text-align: center;
}

.header__logo {
	margin-bottom: 25px;
}

.header__item {
	display: inline-block;
	margin: 0 15px;
}

.header__link{
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	background-color: #6B77E5;
	box-shadow: 2px 2px 4px 4px #6B77E5;
}

.what-do {
	padding: 100px 0 120px;
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
}

.what-do__container {
	max-width: 1133px;
	margin: 0 auto;
}

.what-do__content {
	display: inline-block;
	max-width: 503px;
	padding-top: 60px;
	margin-right: 75px;
}

.what-do__caption {
	display: inline-block;
	margin-bottom: 27px;
	color: #D58417;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
}

.what-do__title {
	margin-bottom: 31px;
	color: #000;
	font-size: 64px;
	line-height: 1;
	text-transform: capitalize;
}

.what-do__text {
	color: #606060;
	font-size: 30px;
	line-height: 1.4;
}

.what-do__block-wrap {
	display: inline-block;
	vertical-align: top;
}

.what-do__img-wrap{
	display: inline-block;
	border: 1px solid #502203;
	border-radius: 235px;
	vertical-align: middle;
}

.what-do__img-wrap img {
	border-radius: 235px;
}

.what-do__img-wrap_01 {
	margin-right: 22px;
	width: 177px;
	height: 336px;
}

.what-do__img-wrap_01 img {
	padding-top: 15px;
	margin-left: -12px;
}

.what-do__img-wrap_02 {
	width: 308px;
	height: 506px;
}

.what-do__img-wrap_02 img {
	padding-top: 20px;
	margin-left: -12px;
}

.project-info {
	padding-bottom: 90px;
}

.project-info__container {
	max-width: 860px;
}

.project-info__title {
	margin-bottom: 13px;
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.27;
	text-transform: capitalize;
}

.project-info__text {
	color: #7D7D7D;
	font-size: 18px;
	line-height: 1.46;
}

.project-info__text > * {
	margin-bottom: 35px;
}

.project-info__text ul, .project-info__text ol {
	padding-left: 35px;
}

.project-info__text li {
	list-style: initial;
}

.project-info__text ol li{
	list-style: decimal;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
}
.arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}
.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}

.licencing {
	padding-bottom: 100px;
}
.licencing__container {
	max-width: 1248px;
}
.licencing-top {
	margin-bottom: 70px;
	text-align: center;
}
.licencing-top__caption {
	display: inline-block;
	margin-bottom: 16px;
	color: #37393F;
	font-size: 18px;
	font-weight: 500;
}

.licencing-top__caption .decor {
	display: inline-block;
	margin-right: 6px;
	width: 12px;
	height: 12px;
	background-color: #40DDB6;
}

.licencing-top__title {
	font-family: "Poppins", sans-serif;
	color: #37393F;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.21;
}

.licencing__block {
	margin-bottom: 28px;
}

.licencing__block_01 {
	margin-bottom: 32px;
}

.licencing__block_02 {
	margin-bottom: 100px;
}

.licencing__title {
	margin-bottom: 8px;
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.licencing__title span {
	color: #40DDB6;
	font-weight: 400;
}

.licencing__title--big {
	font-size: 40px;
	line-height: 1.21;
}

.licencing__title--small {
	font-size: 30px;
}

.licencing__text {
	color: #7D7D7D;
	font-size: 18px;
	line-height: 1.46;
}

.licencing__text span {
	color: #40DDB6;
	font-weight: 500;
}

.licencing__text--green {
	color: #40DDB6;
}

.product {
	padding-bottom: 90px;
}

.product__container {
	max-width: 1250px;
}

.product-top {
	margin-bottom: 30px;
}

.product-top .decor {
	display: inline-block;
	width: 6px;
	height: 28px;
	margin-left: -20px;
	margin-right: 10px;
	margin-bottom: -4px;
	border-radius: 10px;
	background-color: #8A33FD;
}

.product-top__title {
	display: inline-block;
	color: #3C4242;
	font-family: "Core Sans C", sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.19;
	letter-spacing: 0.56px;
}

.product__title {
	margin-bottom: 25px;
	font-family: "Core Sans C", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.67;
	letter-spacing: 0.4px;
}

.product__descr {
	margin-bottom: 25px;
	font-family: "Causten" ,sans-serif;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
}

.product__descr span {
	font-weight: 700;
}

.product__descr p {
	margin-bottom: 20px;
}

.product__link {
	font-family: "Core Sans C", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.67;
	letter-spacing: 0.4px;
}